body{
    background-image: url('./img/chess-board.jpeg');
}

.title-conatiner{
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 50px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}

.title{
    color: whitesmoke;
    text-align: center;
    margin: 0;
}

.team-card-conatiner{
    display: flex;
    justify-content: space-around;
}

.team-card{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 1px 1px rgb(114, 113, 111);
}

.team-card-title{
    text-align: center;
}

.team-card-score{
    text-align: center;
    font-size: 100px;
    margin: 0;
}

.score-card-button-conatiner{
    display: flex;
    justify-content: space-around;
}

.score-card-button{
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px black ;
    cursor: pointer;
}